%h1 instaMAgram
- if @posts.any?
  - @posts.each do |post|
    = link_to post.caption, post_path(post)
    = link_to "Edit", edit_post_path(post)
    = link_to "Delete", post_path(post), method: :delete
    = link_to "Comment", new_post_comment_path(post)
    %h3= post.comments.first.body if post.comments.any?
- else
  No posts yet

%a(href=new_post_path) Post something
